{% extends "layout.html" %}

{% block main %}
    <div class="user-info">
        <p>Hello, {{ session["user"]["name"] }}!</p>
        <ul>
            <li>
                <a href="/cart">Cart</a>
            </li>
            <li style="border-right: none;">
                <a href="{{ url_for('index.logout') }}">Log Out</a>
            </li>
        </ul>
    </div>
    {% for row in units %}
        <a href="{{ url_for('index.unit.unit', unit_id=row.id) }}" class="local-container">
            <img src="{{ url_for('static', filename='location.png') }}">
            <div>
                <h2>{{ row['local'] }}</h2>
                <p>São Paulo</p>
                <p>Av. XXX - 1000</p>
            </div>
        </a>
    {% endfor %}

{% endblock %}