{% extends "layout.html" %}

{% block main %}
    <div class="user-info">
        {% if session['user'] %}
            <p>Hello, {{ session["user"]["name"] }}!</p>
            <ul>
                <li>
                    <a href="{{ url_for('index.cart.cart') }}">Cart</a>
                </li>
                <li style="border-right: none;">
                    <a href="{{ url_for('index.auth.logout') }}">Log Out</a>
                </li>
            </ul>
        {% else %}
            <p>Hello, guest!</p>
            <ul>
                <li>
                    <a href="{{ url_for('index.cart.cart') }}">Cart</a>
                </li>
                <li style="border-right: none;">
                    <a href="{{ url_for('index.auth.login') }}">Log In</a>
                </li>
            </ul>
        {% endif %}
    </div>
    {% for row in units %}
        <a href="{{ url_for('index.unit.find_by_id', unit_id=row.id) }}" class="local-container">
            <img src="{{ url_for('static', filename='location.png') }}">
            <div>
                <h2>{{ row['local'] }}</h2>
                <p>São Paulo</p>
                <p>Av. XXX - 1000</p>
            </div>
        </a>
    {% endfor %}

{% endblock %}