<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lavanderia Self Service</title>
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
        {% block optionalhead %}{% endblock %}

    </head>
    <body>
        <header>
            <div class="logo-container">
                <h1>Lavanderia Self Service</h1>
                <p>
                    Developed by <a href="https://www.instagram.com/gabrieldejesus456/">@gabrieldejesus456</a>
                </p>
            </div>
        </header>
        <main>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            {% block main %}{% endblock %}
        </main>
    </body>
</html>