{% extends "layout.html" %}

{% block optionalhead %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const radios = document.getElementById("options").querySelectorAll('input[name="payments"]');

            for (const radio of radios) {
                radio.onclick = (e) => {
                    const methodInput = document.querySelector("#payment_method");
                    const cardIdInput = document.querySelector("#card_id");

                    // Define o método de pagamento com o valor do radio button
                    methodInput.value = e.target.value;

                    // Define o ID do cartão se for um cartão, ou limpa se for carteira
                    if (e.target.value !== "WALLET") {
                        cardIdInput.value = e.target.dataset.cardId;
                    } else {
                        cardIdInput.value = "";
                    }
                };
            }
        });
    </script>

{% endblock %}

{% block main %}

    <div class="user-info">
        <p>Revision</p>
        <a href="{{ url_for('index.cart.cart') }}">Return</a>
    </div>
    <form action="{{ url_for('index.cart.payment') }}" method="post">
        <div class=container>
            <h3 class="row">Resumo</h3>
            <div class="row">
                <p>Produtos</p>
                <input name="total-products" type="hidden" value="{{ total }}">
                <p>{{ payment_info["products"] }}</p>
            </div>
            <div class="row">
                <p>Descontos</p>
                <input name="discounts" type="hidden" value="0">
                <p>{{ payment_info["discounts"] }}</p>
            </div>
            <div class="footer" style="font-weight: bold;">
                <p>Total</p>
                <input name="total" type="hidden" value="{{ total }}">
                <p>{{ payment_info["total"] }}</p>
            </div>
            <div class="row" style="border-top: 1px solid #DDD; padding: 15px 0px">
                <p>Cupom de desconto</p>
                <a>Adicionar</a>
            </div>
        </div>
        <div class="container">
            <h3 class="row">Itens do pedido</h3>
            {% for product in cart %}
                <div class="product-container" style="font-size: 15px">
                    <img style="margin-right: 25px" src="{{ url_for('static', filename='machine.png') }}" alt="{{ product.machine.type }}">
                    <div style="padding-bottom: 15px">
                        <h4 style="margin-bottom: 5px">{{ product.machine.type }} {{ product.machine.id }}</h4>
                        {% if product.machine.type == "Lavadora" %}
                            <p>Serviço de Lavar</p>
                        {% else %}
                            <p>Serviço de Secar</p>
                        {% endif %}
                        <p>Tempo de {{ (product.cycle.time / 60)|int }} min</p>
                        <p style="font-weight: bold">{{ product.cycle.get_formatted_price() }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="row">
                <h3>Forma de pagamento</h3>
                <a href="{{ url_for('index.payments.my_cards') }}"><img width="25px" src="{{ url_for('static', filename='pencil.png') }}" alt="edit" style="cursor: pointer"></a>
            </div>
            <div id="options" class="payment-method">
                <div class="row" style="border-bottom: none">
                    <input name="payment_method" id="payment_method" type="hidden" value="WALLET">
                    <input name="card_id" id="card_id" type="hidden" value="">
                    <input id="wallet-option" name="payments" type="radio" value="WALLET" checked>
                    <label for="wallet-option"> Sua Carteira</label>
                    <h3>- Seu saldo: {{ session["user"].get_formatted_cash() }}</h3>
                </div>

                {% for card in payment_info["cards"] %}
                <input id="card-{{ card.id }}" name="payments" type="radio"
                       value="{{ card.method }}" data-card-id="{{ card.id }}">
                <label for="card-{{ card.id }}">{{ card.brand }} - {{ card.final }} ({{ card.method }})</label>
                {% endfor %}
            </div>
        </div>
        <div>
            <input style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;width: 250px" class="button button2" type="submit" value="Finalizar pedido">
        </div>
    </form>

{% endblock %}
