{% extends "layout.html" %}

{% block main %}

    <style>
        main h1
        {
            margin-left: 20px;
            color: #555;
            font-weight: 600;
        }
    </style>

    <div class="user-info">
        <p>Select the machine you want to use.</p>
        <a href="{{ url_for('index.index') }}">Home</a>
    </div>
    <h1>Lavagem</h1>
    {% for washer in washers %}
    <a href="{{ url_for('index.machine.find_machine_with_prices', machine_id=washer.id) }}" class="machine-container">
        <img src="{{ url_for('static', filename='machine.png') }}" alt="Lavadora">
        <div>
            <h2>Lavadora {{ washer['identifier'] }}</h2>
            <p>Suas roupas merecem um tratamento especial, afinal de contas elas te acompanham todos os dias e precisam estar sempre confortáveis.</p>
            {% if washer["locked"] == 0 %}
                <p id="status" style="color: green">Disponível</p>
            {% else %}
                <p id="status" style="color: orange">Ocupada</p>
            {% endif %}
        </div>
    </a>
{% endfor %}

<h1>Secagem</h1>
{% for dryer in dryers %}
    <a href="{{ url_for('index.machine.find_machine_with_prices', machine_id=dryer.id) }}" class="machine-container">
        <img src="{{ url_for('static', filename='machine.png') }}" alt="Secadora">
        <div>
            <h2>Secadora {{ dryer['identifier'] }}</h2>
            <p>Suas roupas merecem um tratamento especial, afinal de contas elas te acompanham todos os dias e precisam estar sempre confortáveis.</p>
            {% if dryer["locked"] == 0 %}
                <p id="status" style="color: green">Disponível</p>
            {% else %}
                <p id="status" style="color: orange">Ocupada</p>
            {% endif %}
        </div>
    </a>
{% endfor %}

{% endblock %}