{% extends "layout.html" %}

{% block optionalhead %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {

            document.getElementById("1").setAttribute("checked", "checked");

            const radios = document.getElementById("options").querySelectorAll('input');
            for (const radio of radios) {
                radio.onclick = (e) => {
                    document.getElementById("cycle").innerHTML = e.target.value;
                    const input = document.querySelector("#price_id");
                    input.value = e.target.id;
                };
            }
        });
    </script>

{% endblock %}

{% block main %}

    <div class="user-info">
        <p>Machine details</p>
        <form action="/local" method="post">
            <ul>
                <li>
                    <input type="submit" value="Return">
                </li>
                <li style="border-right: none;">
                    <a href="/">Home</a>
                </li>
            </ul>
        </form>
    </div>
    <form action="/cart" method="post">
        <div class="machine-details">
            <img src="/static/machine.png" alt="{{ machine["type"] }}">
            <h2 style="font-weight: 300">{{ machine["type"] }} {{ machine["id"] }}</h2>
            {% if machine["locked"] == 0 %}
                <p id="status" style="color: green">Disponível</p>
            {% else %}
                <p id="status" style="color: orange">Ocupada</p>
            {% endif %}
        </div>
        <div class="machine-details">
            <h3>Ciclos</h3>
            <p id="cycle">{{ prices[0]["price"] }} - {{ (prices[0]["time"] / 60)|int }} min</p>
            <div id="options" style="margin-top: 15px; margin-bottom: 5px">
                <input name="machine_id" type="hidden" value="{{ machine["id"] }}">
                <input name="price_id" id="price_id" type="hidden" value="1">
            {% for cycle in prices %}
                <input type="radio" id="{{ cycle["id"] }}" name="time" value="{{ cycle["price"] }} - {{ (cycle["time"] / 60)|int }} min">
                <label for="{{ cycle["id"] }}">{{ (cycle["time"] / 60)|int }} min</label>
            {% endfor %}
            </div>
        </div>
        <div class="machine-details">
            <h3>Descrição</h3>
            <p>Suas roupas merecem um tratamento especial, afinal de contas elas te acompanham todos os dias e precisam estar sempre confortáveis. Além disso, os dias são corridos e para dar conta do ritmo é necessário economizar tempo e dinheiro.</p>
        </div>
        <div class="machine-details" style="border: none">
            <input id="submit" class="button button3" type="submit" value="Adicionar ao carrinho">
        </div>
    </form>

{% endblock %}