{% extends "layout.html" %}

{% block main %}

    {% if cards %}
        <div class="user-info">
            <div>
                <p>Here are your cards</p>
            </div>
            <ul>
                <li>
                    <a href="/addpayment">Add Card</a>
                </li>
                <li style="border-right: none;">
                    <a href="/payment">Return</a>
                </li>
            </ul>
        </div>
        <h1 style="padding: 0px 15px; color: #AAA">Cards</h1>
        {% for card in cards %}
            <div class="container cards">
                <h3>Card: </h3>
                <p>{{ card["final"] }} ({{ card["method"] }}) -</p>
                <h3>{{ card["flag"] }}</h3>
                <div id="trash" style="margin-left: auto; margin-right: 10px">
                    <img src="/static/trash.png" style="margin-right: 8px">
                    <form action="/rmvcard" method="post">
                        <input name="card_id" type="hidden" value="{{ card["id"] }}">
                        <input type="submit" value="Excluir">
                    </form>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="user-info">
            <div>
                <p>You don't have cards yet.. add a new one clicking <a href="/addpayment">here</a></p>
            </div>
            <div>
                <a href="/payment">Return</a>
            </div>
        </div>
    {% endif %}

{% endblock %}